main {
   margin-bottom: 100px;
}

body {
    font-size: 16pt;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00274C;
    border-bottom: 1px solid black;
    padding: 20x;
}

.nav_links {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

nav>ul>li {
    font-weight: 700;
    padding: 6px;
}

#active {
    padding: 8px;
    background-color: #49330a;
    border-radius: 6px;
    text-decoration: underline;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
    padding: 2px;
}

a:hover {
    border: #ffcb05 dashed 1px;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 1.5em;
    line-height: 2;
}

.leaders {
    text-align: center;
    font-size: 1.25em;
    padding: 80px;
}

.feature_pic {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 16px;
}

.about_text {
    margin: 0px 50px;
}

.roster_card {
    margin: 0 auto;
    display: grid;
    width: 400px;
    padding: 20px;
    background-color: #00274C;
    color: white; 
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-radius: 10px;
    border: #ffcb05 solid 10px;
}

.roster_pic {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.name {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}
.number {
    font-size: 2em;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

footer {
    display: block;
    align-items: center;
    position: fixed;
    font-size: 0.8em;
    bottom: 0;
    width: 100%;
    padding: 30px;
    color: white;
    background-color: #00274C;
}

@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav_links {
        flex-direction: row;
    }

}